@model IEnumerable<QuanLyBanHang.Models.NhanVien>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Thêm nhân viên</button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 style="color:blue;text-align:center">THÊM NHÂN VIÊN</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            @using (Html.BeginForm())
                            {
                                <div class="form-group">
                                    <label for="MaNV">Mã nhân viên:</label>
                                    @Html.TextBox("MaNV", null, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="HoNV">Họ nhân viên:</label>
                                    @Html.TextBox("HoNV", null, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="TenNV">Tên nhân viên:</label>
                                    @Html.TextBox("TenNV", null, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="NgaySinh">Ngày sinh:</label>
                                    @Html.TextBox("NgaySinh", null, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="GioiTinh">Giới tính:</label>
                                    <select class="form-control" id="GioiTinh" name="GioiTinh">
                                        <option value="1">Nam</option>
                                        <option value="0">Nữ</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="DiaChi">Địa chỉ:</label>
                                    @Html.TextBox("DiaChi", null, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="DienThoai">Điện thoại:</label>
                                    @Html.TextBox("DienThoai", null, new { @class = "form-control" })
                                </div>
                            }
                            <div class="modal-footer">
                                <button type="button" class="btn btn-button" style="border-radius:12px" id="btnSave" data-dismiss="modal">Lưu</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <table id="tbvn" class="display">
            <thead>
                <tr>
                    <td>Mã Nhân Viên</td>
                    <td>Họ Nhân Viên</td>
                    <td>Tên Nhân Viên</td>
                    <td>Ngày Sinh</td>
                    <td>Giới Tính</td>
                    <td>Địa Chỉ</td>
                    <td>Điện Thoại</td>
                </tr>
            </thead>
            <tbody id="lblData">
            </tbody>
        </table>
        <script id="template" type="x-tmpl-mustache">
            <tr>
                <td>{{MaNV}}</td>
                <td>{{HoNV}}</td>
                <td>{{TenNV}}</td>
                <td>{{NgaySinh}}</td>
                <td>{{GioiTinh}}</td>
                <td>{{DiaChi}}</td>
                <td>{{DienThoai}}</td>
            </tr>
        </script>
        @*<div class="modal fade" id="showModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Danh Sách Nhân Viên</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>*@
    </div>
<script>
    $("#btnSave").click(function () {
        alert("Lưu thành công");
        var nv = {
            manv: $('#MaNV').val(),
            honv: $('#HoNV').val(),
            tennv: $('#TenNV').val(),
            ngaysinh: $('#NgaySinh').val(),
            diachi: $('#DiaChi').val(),
            dienthoai: $('#DienThoai').val(),
        };
        if ($("#GioiTinh").val() == "1") {
            nv.gioitinh = true;
        }
        else {
            nv.gioitinh = false;
        }
        $.ajax({
            type: "POST",
            url: '/NhanVien/SaveNV',
            data: nv,
            dataType: 'json',
            success: function () {
                getAllNV();
            },
            error: function (err) {
                console.log(err);
            }
        })
    })
    function getAllNV() {
        var html = '';
        $.ajax({
            url: '/NhanVien/getAllNV',
            type: 'GET',
            contentType: "application/json;charset=utf-8",
            dataType: 'json',
            success: function (result) {
                console.log(result);
                for (i = 0; i < result.length; i++) {
                    var item = result[i];
                    //conver ngày sinh
                    var date = item.NgaySinh;
                    date = new Date(parseInt(date.slice(6, 19)));
                    var getDate = ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + date.getFullYear();
                    //Conver giới tính
                    var gioitinh = item.Gioitinh;
                    if (gioitinh == false) {
                        gioitinh = "Nữ";
                    }
                    else {
                        gioitinh = "Nam";
                    }
                    html += '<tr>';
                    html += '<td>' + item.MaNV + '</td>';
                    html += '<td>' + item.HoNV + '</td>';
                    html += '<td>' + item.TenNV + '</td>';
                    html += '<td>' + getDate + '</td>';
                    html += '<td>' + gioitinh + '</td>';
                    html += '<td>' + item.DiaChi + '</td>';
                    html += '<td>' + item.DienThoai + '</td>';
                    html += '<td> <button class="btn btn-link" onclick="DeleteNV(' + `'` + item.MaNV + `'` + ')">Delete</button></td>';
                    html += '<td> <button class="btn btn-link" onclick="Edit(' + `'` + item.MaNV + `'` + ', ' + `'` + item.HoNV + `'` + ', ' + `'` + item.TenNV + `'` + ', ' + `'` + getDate + `'` + ', ' + `'` + item.Gioitinh + `'` + ', ' + `'` + item.DiaChi + `'` + ', ' + `'` + item.DienThoai + `'` + ')">Edit</button></td>';
                    html += '</tr>';
                }
                $('#lblData').html(html);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
    function DeleteNV(id) {
        $.ajax({
            url: '/NhanVien/Delete',
            type: "POST",
            data: { id: id },
            dataType: 'json',
            success: function () {
                getAllNV();
                setTimeout(() => {
                    alert("Xóa thành công");
                },500)
                
            }
        })
        
    }
    function Edit(manv, honv, tennv, ngaysinh, gioitinh, diachi, dienthoai) {
        $("#MaNV").val(manv);
        $("#HoNV").val(honv);
        $("#TenNV").val(tennv);
        $("#NgaySinh").val(ngaysinh);
        if (gioitinh.trim().toLowerCase() == "true") {
            $("#GioiTinh").val(1)
        }
        else {
            $("#GioiTinh").val(0)
        }
        $("#DiaChi").val(diachi);
        $("#DienThoai").val(dienthoai);
        $("#myModal").modal();
    }
    getAllNV();
</script>


@*
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-8 mx-auto">
                <h2 style="color:blue;text-align:center">THÔNG TIN NHÂN VIÊN</h2>
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label for="MaNV">Mã nhân viên:</label>
                        @Html.TextBox("MaNV", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="HoNV">Họ nhân viên:</label>
                        @Html.TextBox("HoNV", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="TenNV">Tên nhân viên:</label>
                        @Html.TextBox("TenNV", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="NgaySinh">Ngày sinh:</label>
                        @Html.TextBox("NgaySinh", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="GioiTinh">Giới tính:</label>
                        <select class="form-control" id="GioiTinh" name="GioiTinh">
                            <option value="1">Nam</option>
                            <option value="0">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="DiaChi">Địa chỉ:</label>
                        @Html.TextBox("DiaChi", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="DienThoai">Điện thoại:</label>
                        @Html.TextBox("DienThoai", null, new { @class = "form-control" })
                    </div>
                }
                <table id="tbvn" class="display">
                    <thead>
                        <tr>
                            <td>Mã Nhân Viên</td>
                            <td>Họ Nhân Viên</td>
                            <td>Tên Nhân Viên</td>
                            <td>Ngày Sinh</td>
                            <td>Giới Tính</td>
                            <td>Địa Chỉ</td>
                            <td>Điện Thoại</td>
                        </tr>
                    </thead>
                    <tbody id="lblData">
                    </tbody>
                </table>
                <script id="template" type="x-tmpl-mustache">
                    <tr>
                        <td>{{MaNV}}</td>
                        <td>{{HoNV}}</td>
                        <td>{{TenNV}}</td>
                        <td>{{NgaySinh}}</td>
                        <td>{{GioiTinh}}</td>
                        <td>{{DiaChi}}</td>
                        <td>{{DienThoai}}</td>
                    </tr>
                </script>
            </div>
        </div>
    </div>
    <button id="btnSave">Add</button>
    <script>

            function getAllNV() {
                var html = '';
                $.ajax({
                    url: '/NhanVien/getAllNV',
                    type: 'GET',
                    contentType: "application/json;charset=utf-8",
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                        for (i = 0; i < result.length; i++) {
                            var item = result[i];
                            //conver ngày sinh
                            var date = item.NgaySinh;
                            date = new Date(parseInt(date.slice(6, 19)));
                            var getDate = ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + date.getFullYear();
                            //Conver giới tính
                            var gioitinh = item.Gioitinh;
                            if (gioitinh == false) {
                                gioitinh = "Nữ";
                            }
                            else {
                                gioitinh = "Nam";
                            }
                            html += '<tr onclick="hello(' + `'` + item.MaNV + `'` + ', ' + `'` + item.HoNV + `'` + ', ' + `'` + item.TenNV + `'` + ', ' + `'` + getDate + `'` + ', ' + `'` + item.Gioitinh + `'` + ', ' + `'` + item.DiaChi + `'` + ', ' + `'` + item.DienThoai + `'` + ')">';
                            html += '<td>' + item.MaNV + '</td>';
                            html += '<td>' + item.HoNV + '</td>';
                            html += '<td>' + item.TenNV + '</td>';
                            html += '<td>' + getDate + '</td>';
                            html += '<td>' + gioitinh + '</td>';
                            html += '<td>' + item.DiaChi + '</td>';
                            html += '<td>' + item.DienThoai + '</td>';
                            html += '<td> <button class="btn btn-link" onclick="DeleteNV(' + `'` + item.MaNV + `'` + ')">Delete</button></td>';
                            html += '</tr>';
                        }
                        $('#lblData').html(html);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }

        $("#btnSave").click(function () {
            var nv = {
                manv: $('#MaNV').val(),
                honv: $('#HoNV').val(),
                tennv: $('#TenNV').val(),
                ngaysinh: $('#NgaySinh').val(),
                diachi: $('#DiaChi').val(),
                dienthoai: $('#DienThoai').val(),
            };
            if ($("#GioiTinh").val() == "1") {
                nv.gioitinh = true;
            }
            else {
                nv.gioitinh = false;
            }
            $.ajax({
                type: "POST",
                url: '/NhanVien/SaveNV',
                data: nv,
                dataType: 'json',
                success: function () {
                    getAllNV();
                },
                error: function (err) {
                    console.log(err);
                }
            })

        })
        function DeleteNV(id) {
            $.ajax({
                url: '/NhanVien/Delete',
                type: "POST",
                data: { id: id },
                dataType: 'json',
                success: function () {
                    getAllNV();
                }
            })
        }
        getAllNV();
        function hello(manv, honv, tennv, ngaysinh, gioitinh, diachi, dienthoai) {
            $("#MaNV").val(manv);
            $("#HoNV").val(honv);
            $("#TenNV").val(tennv);
            $("#NgaySinh").val(ngaysinh);
            if (gioitinh.trim().toLowerCase() == "true") {
                $("#GioiTinh").val(1)
            }
            else {
                $("#GioiTinh").val(0)
            }
            $("#DiaChi").val(diachi);
            $("#DienThoai").val(dienthoai);
        }
    </script>
*@
