@model IEnumerable<QuanLyBanHang.Models.KhachHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/plugins/mustache.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 style="text-align:center; color:blue">THÔNG TIN KHÁCH HÀNG</h1>
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label for="MaKH">Mã Khách Hàng:</label>
                    @Html.TextBox("MaKH", null, new { @class = "form-control", @id = "MaKH" })
                    <p class="text-danger">@ViewData["Loi1"]</p>
                </div>
                <div class="form-group">
                    <label for="HoTenKH">Họ Tên Khách Hàng:</label>
                    @Html.TextBox("HoTenKH", null, new { @class = "form-control" })
                    <p class="text-danger">@ViewData["Loi2"]</p>
                </div>
                <div>
                    <label for="DiaChi">Địa Chỉ:</label>
                    @Html.TextBox("DiaChi", null, new { @class = "form-control" })
                    <p class="text-danger">@ViewData["Loi3"]</p>
                </div>
                <div class="form-group">
                    <label for="DienThoai">Điện Thoại</label>
                    @Html.TextBox("DienThoai", null, new { @class = "form-control" })
                    <p class="text-danger">@ViewData["Loi4"]</p>
                </div>
                
            }
            <table id="tbnv" class="display">
                <thead>
                    <tr>
                        <td>Mã Khách Hàng</td>
                        <td>Họ Tên Khách Hàng</td>
                        <td>Địa Chỉ</td>
                        <td>Điện Thoại</td>
                    </tr>
                </thead>
                <tbody id="lblData">
                </tbody>
            </table>
            <script id="template" type="x-tmpl-mustache">
                <tr>
                    <td>{{MaKH}}</td>
                    <td>{{HoTenKH}}</td>
                    <td>{{DiaChi}}</td>
                    <td>{{DienThoai}}</td>
                </tr>
            </script>
        </div>
    </div>

</div>
<button id="btnThem">Lưu</button>
<script>
    function getAllKH() {
            var html = '';
            $.ajax({
                url: '/KhachHang/GetAllKH',
                type: 'GET',
                contentType: "application/json;charset=utf-8",
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    for (i = 0; i < result.length; i++) {
                        var item = result[i];
                        html += '<tr onclick="button(' + `'` + item.MaKH + `'` + ',' + `'` + item.HoTenKH + `'` + ',' + `'` + item.DiaChi + `'` + ',' + `'` + item.DienThoai + `'` +')">';
                        html += '<td>' + item.MaKH + '</td>';
                        html += '<td>' + item.HoTenKH + '</td>';
                        html += '<td>' + item.DiaChi + '</td>';
                        html += '<td>' + item.DienThoai + '</td>';
                        html += '<td><button onclick="DeleleKH(' + `'` + item.MaKH +`'` + ')">Delete</button></td>';
                        html += '<tr>';
                    }
                    $('#lblData').html(html);
                },
                error: function (err) {
                    console.log(err);
                }

            })  

    }

    $("#btnThem").click(function () {
        var kh = {
            makh: $('#MaKH').val(),
            hotenkh: $('#HoTenKH').val(),
            diachi: $('#DiaChi').val(),
            dienthoai: $('#DienThoai').val(),
        };
        $.ajax({
            type: "POST",
            url: '/KhachHang/AddKH1',
            data: kh,
            dataType: 'json',
            success: function () {
                getAllKH();
            },
            error: function (err) {
                console.log(err);
            }
        })
    })

    function DeleleKH(id) {
        $.ajax({
            url: '/KhachHang/Delete',
            type: "POST",
            data: {id: id},
            dataType: 'json',
            success: function () {
                getAllKH();
            }
        })
    }
    getAllKH();
    function button(makh, hotenkh, diachi, dienthoai) {
        $("#MaKH").val(makh);
        $("#HoTenKH").val(hotenkh);
        $("#DiaChi").val(diachi);
        $("#DienThoai").val(dienthoai);
    }
</script>

